allow mpdecision socket_device:dir { write add_name remove_name };
allow mpdecision system_data_file:dir { write add_name };
type_transition mpdecision socket_device:sock_file mpctl_socket;
type_transition mpdecision system_data_file:file mpctl_data_file;
