allow thermal-engine self:capability chown;
allow thermal-engine socket_device:sock_file { create setattr };
allow thermal-engine sysfs_battery_supply:dir search;
allow thermal-engine sysfs_battery_supply:file { read open };
