# Copyright (c) 2012, The Linux Foundation. All rights reserved.
#
# Redistribution and use in source and binary forms, with or without
# modification, are permitted provided that the following conditions are
# met:
#     * Redistributions of source code must retain the above copyright
#       notice, this list of conditions and the following disclaimer.
#     * Redistributions in binary form must reproduce the above
#       copyright notice, this list of conditions and the following
#       disclaimer in the documentation and/or other materials provided
#       with the distribution.
#     * Neither the name of The Linux Foundation nor the names of its
#       contributors may be used to endorse or promote products derived
#       from this software without specific prior written permission.
#
# THIS SOFTWARE IS PROVIDED "AS IS" AND ANY EXPRESS OR IMPLIED
# WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF
# MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NON-INFRINGEMENT
# ARE DISCLAIMED.  IN NO EVENT SHALL THE COPYRIGHT OWNER OR CONTRIBUTORS
# BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR
# CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF
# SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR
# BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY,
# WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE
# OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN
# IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
#
#

on early-init
    mkdir /firmware 0771 system system
    symlink /data/tombstones /tombstones
    write /sys/kernel/mm/ksm/pages_to_scan 100
    write /sys/kernel/mm/ksm/sleep_millisecs 500
    write /sys/kernel/mm/ksm/run 1
    write /sys/block/zram0/disksize 192M

on init
    # See storage config details at http://source.android.com/tech/storage/
    mkdir /storage 0050 system sdcard_r
    mkdir /mnt/media_rw/sdcard0 0700 media_rw media_rw
    mkdir /storage/sdcard0 0700 root root
    export EXTERNAL_STORAGE /storage/sdcard0
    # Support legacy paths
    symlink /storage/sdcard0 /mnt/sdcard
    symlink /storage/sdcard0 /sdcard

on fs
    mount_all fstab.qcom

    # Keeping following partitions outside fstab file. As user may not have
    # these partition flashed on the device. Failure to mount any partition in fstab file
    # results in failure to launch late-start class.

    #wait /dev/block/platform/msm_sdcc.1/by-name/cache
    #mount ext4 /dev/block/platform/msm_sdcc.1/by-name/cache /cache nosuid nodev barrier=1

    wait /dev/block/platform/msm_sdcc.1/by-name/persist
    mount ext4 /dev/block/platform/msm_sdcc.1/by-name/persist /persist nosuid nodev barrier=1
    restorecon /persist

    wait /dev/block/platform/msm_sdcc.1/by-name/modem
    mount vfat /dev/block/platform/msm_sdcc.1/by-name/modem /firmware ro shortname=lower,uid=1000,gid=1000,dmask=227,fmask=337

on boot
   write /proc/sys/vm/page-cluster 0
   write /proc/sys/vm/swappiness 100
   # Enable writing to brightness node under torch-light from userspace
   chown system system /sys/class/leds/torch-light/brightness

on post-fs-data
    mkdir /data/tombstones 0771 system system
    mkdir /tombstones/modem 0771 system system

#[ECID:000000] ZTEBSP wanghaifei 20130905 start, for sensor init
    chmod 664 /dev/light_sensor
    chown system root /dev/light_sensor

    chown system root /sys/class/i2c-adapter/i2c-0/0-0018/enable_device
    chown system root /sys/class/i2c-adapter/i2c-0/0-0018/pollrate_ms
    chown system root /sys/class/i2c-adapter/i2c-0/0-0019/enable_device
    chown system root /sys/class/i2c-adapter/i2c-0/0-0019/pollrate_ms
    chown system root /sys/class/i2c-adapter/i2c-0/0-000f/enable_device
    chown system root /sys/class/i2c-adapter/i2c-0/0-000f/pollrate_ms
    chown system root /sys/class/i2c-adapter/i2c-0/0-0068/enable_device
    chown system root /sys/class/i2c-adapter/i2c-0/0-0068/pollrate_ms

    chmod 664 /dev/akm8963_dev
    chmod 664 /dev/akm8963
    chown system root /dev/akm8963_dev
    chown system root /dev/akm8963
    chown system root /sys/class/compass/akm8963/enable_acc
    chown system root /sys/class/compass/akm8963/enable_mag
    chown system root /sys/class/compass/akm8963/enable_ori
    chown system root /sys/class/compass/akm863/delay_acc
    chown system root /sys/class/compass/akm8963/delay_mag
    chown system root /sys/class/compass/akm8963/delay_ori
    chown system root /sys/class/compass/akm8963/accel

    chmod 664 /dev/akm09911_dev
    chmod 664 /dev/akm09911
    chown system root /dev/akm09911_dev
    chown system root /dev/akm09911
    chown system root /sys/class/compass/akm09911/enable_acc
    chown system root /sys/class/compass/akm09911/enable_mag
    chown system root /sys/class/compass/akm09911/enable_fusion
    chown system root /sys/class/compass/akm09911/delay_acc
    chown system root /sys/class/compass/akm09911/delay_mag
    chown system root /sys/class/compass/akm09911/delay_fusion
    chown system root /sys/class/compass/akm09911/accel
#[ECID:000000] ZTEBSP wanghaifei 20130905 end, for sensor init

#//[ECID:0000]ZTE_BSP maxiaoping 20130821 modify leds&vibrator feature for 8x26,start.
    chown system system /sys/class/leds/lcd-backlight/brightness
    chown system system /sys/class/leds/button-backlight/brightness
    chown system system /sys/class/leds/red/brightness
    chown system system /sys/class/leds/green/brightness
    chown system system /sys/class/leds/red/blink
    chown system system /sys/class/leds/green/blink
    chown system system /sys/class/timed_output/vibrator/enable
#//[ECID:0000]ZTE_BSP maxiaoping 20130821 modify leds&vibrator feature for 8x26,end.

# Allow usb charging to be disabled persistently
on property:persist.usb.chgdisabled=1
    write /sys/class/power_supply/battery/charging_enabled 0

on property:persist.usb.chgdisabled=0
    write /sys/class/power_supply/battery/charging_enabled 1

on boot
    insmod /system/lib/modules/adsprpc.ko


#Start the qcom-system-daemon service
service qcomsysd /system/bin/qcom-system-daemon
   class main

service time_daemon /system/bin/time_daemon
   class late_start
   user root
   group root

service mpdecision /system/bin/mpdecision --avg_comp
   user root
   disabled

service thermal-engine /system/bin/thermal-engine
   class main
   user root
   group root

service qseecomd /system/bin/qseecomd
	class late_start
	user root
	group root

service qrngd /system/bin/qrngd -f
   class main
   user root
   group root

service qrngp /system/bin/qrngp
    class main
    user root
    group root
    oneshot
    disabled

on property:sys.boot_completed=1
    start qrngp

#start camera server as daemon
service qcamerasvr /system/bin/mm-qcamera-daemon
   class late_start
   user camera
   group camera system inet input graphics

service audiod /system/bin/audiod
   class late_start
   user system
   group system

service swapping /system/bin/sh /system/etc/enable_swap.sh
    class core
    user root
    oneshot

service adsprpcd /system/bin/adsprpcd
   class main
   user media
   group media

service wcnss-service /system/bin/wcnss_service
    class main
    user system
    group system wifi
    oneshot

service ppd /system/bin/mm-pp-daemon
    class late_start
    user system
    socket pps stream 0660 system system
    group system graphics

on property:init.svc.surfaceflinger=stopped
    stop ppd

service fuse_sdcard0 /system/bin/sdcard -u 1023 -g 1023 -d /mnt/media_rw/sdcard0 /storage/sdcard0
    class late_start
    disabled
